.array-bar {
  width: 6px;
  height: 30px;
  display: inline-block;
  background-color: #2b95ff;
  margin: 0 1px;
}

.array-cont {
  position: absolute;
  left: 100px;
  bottom: 95px;
}
.buttons {
  position: absolute;
  bottom: 0;
  height: 100px;
  display: flex;
  background: #000;
  width: 100%;
  padding: 25px 0px;
}
